{#<style type="text/css">#}
{#        li {#}
{#            border: dashed 2px black;#}
{#            border-bottom-width: 0px#}
{#        }#}
{#</style>#}
<ul class="posts">
    {% for post in posts %}
        <br>
        <br>
    <li class="post" border-bottom-width="dashed 2px red" >
        <div class="row">
            <div class="col-md-6">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="https://avatars2.githubusercontent.com/u/2810486?v=3&u=4c3b75205a5f1e004e36d9cbd8bc3a1fb73210be&s=400" height="40" width="40">
            </a>
            </div>
            <div class="col-md-6" text-align="right">{{ moment(post.timestamp).fromNow() }}</div>

        </div>
        <div class="post-content">
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">Published {{ moment(post.timestamp).fromNow() }} By:{{ post.author.username }}</a></div>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer">
            {% if current_user.is_authenticated %}
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} Comments</span>
                </a>
            {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
